<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="id" content="3u0dnh13wg7vfs8jdtk2anxuo">
  <meta name="title" content="BNC - Narrativa para entrevista">
  <meta name="created" content="7 August 2024 10:39:15.842696 am">
  <meta name="modified" content="7 August 2024 5:21:27.583378 pm">
  <meta name="creator" content="<unknown>">
  <meta name="modifier" content="<unknown>">
</head>


                      **BNC - Narrativa para entrevista**




<div st-class="LeTextSnippet"
  st-data="OrderedDictionary {
	'id' : 'xzZNtXvbDQCq1DP9CSrBQA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 10:57:46.436082 am',
	'modified' : '7 August 2024 10:57:51.688672 am',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
# Presentación
</div>

<div st-class="LeTextSnippet"
  st-data="OrderedDictionary {
	'id' : 'oZV4fHvbDQCct70pCSrBQA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 10:41:52.977116 am',
	'modified' : '7 August 2024 11:39:12.55444 am',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
La presente narrativa de datos se desarrolla como un ejercicio parte de una entrevista
para un contrato de prestación de servicios para la Biblioteca Nacional de Colombia
y es desarrollada por [Diego Herrera García](https://ruidajo.gitlab.io).

Esta narrativa de datos describe el procedimiento reproducible de exploración, limpieza, análisis y estructuración 
de una colección de datos parte del proyecto `Vamos a hacer memoria` y de
la estrategia regioinal de caracterización a bibliotecas departamentales.

El resultado a manera de wiki de las daots mencionados aqui se encuantra en:
[Wiki](https://ruidajo.gitlab.io/BNC/bnc-wiki.html)
</div>

<div st-class="LeTextSnippet"
  st-data="OrderedDictionary {
	'id' : 'L/tiuXvbDQCsrS3SCSrBQA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 10:58:54.972311 am',
	'modified' : '7 August 2024 10:58:58.981861 am',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
# El archivo
</div>

<div st-class="LeTextSnippet"
  st-data="OrderedDictionary {
	'id' : 'QKp7h3vbDQCldyU0CSrBQA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 10:45:04.886407 am',
	'modified' : '7 August 2024 10:59:22.360119 am',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
El archivo entregado para el ejercicio es un hoja de cálculo 
en formato excel con la extensión `.xlsx` con un tamaño de 143KB,
la información esta dividida en 8 páginas nombradas con diferentes tipos y organización de datos. 
</div>

<div st-class="LeTextSnippet"
  st-data="OrderedDictionary {
	'id' : 'MWfRL3zbDQCQ9o1mCSrBQA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 11:32:09.433299 am',
	'modified' : '7 August 2024 11:32:25.59343 am',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
![](./bnc-archivo-capturadepantalla.png)
</div>

<div st-class="LeTextSnippet"
  st-data="OrderedDictionary {
	'id' : 'Ohfy53vbDQCs8sOoCSrBQA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 11:11:56.102269 am',
	'modified' : '7 August 2024 11:12:00.151934 am',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
# Procesamiento
</div>

<div st-class="LeTextSnippet"
  st-data="OrderedDictionary {
	'id' : 'y6CH6HvbDQCtRVE5CSrBQA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 11:12:05.903082 am',
	'modified' : '7 August 2024 11:12:36.864861 am',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
Acontinuación se describe el procesamiento del archivo, su formato y los datos internos.
</div>

<div st-class="LeTextSnippet"
  st-data="OrderedDictionary {
	'id' : 'AhNW6HvbDQCtQTxxCSrBQA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 11:12:02.654725 am',
	'modified' : '7 August 2024 11:14:12.866645 am',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
## Formato de archivo
</div>

<div st-class="LeTextSnippet"
  st-data="OrderedDictionary {
	'id' : '33oy8HvbDQCwRu7CCSrBQA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 11:14:19.923825 am',
	'modified' : '7 August 2024 11:37:53.853544 am',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
Se identifican 2 acciones a realizar para obtener los datos estructurados:
	- La hoja de cálculo esta codificada en un formato `.xlsx` del progrma excel de microsoft, lo cúal implica el archivo y sus datos no se pueden leer o analizar de manera directa es decir sin el programa especifico, para solucionar esto se propone exportar las hojas individuales en formato `.csv` o `.json`(dependiendo de las necesidades de procesamiento) que es legible y de fácil acceso.
	- Internamente las 8 páginas que continen los datos tienen celdas acopladas y diferentes tipos y organización de datos lo cúal implica que es necesario un procedimiento de limpieza y estructuración de los datos.
</div>

<div st-class="LeTextSnippet"
  st-data="OrderedDictionary {
	'id' : 'BznKtHvbDQCq0C/0CSrBQA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 10:57:37.851337 am',
	'modified' : '7 August 2024 11:36:21.26868 am',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
Declaramos el directorio de trabajo:
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 'nSXaTHvbDQC+ZFQtCSrBQA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 10:28:34.063479 am',
	'modified' : '7 August 2024 11:49:07.528618 am',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
directory := FileLocator downloads.
files :=  directory children.
~~~
</script>
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 'JTOxbHzbDQCkc0ueCSrBQA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 11:49:03.219714 am',
	'modified' : '7 August 2024 5:07:27.886395 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
file := files at: 3
~~~
</script>
</div>

<div st-class="LeTextSnippet"
  st-data="OrderedDictionary {
	'id' : 'UEHlP3zbDQCSWS5fCSrBQA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 11:36:31.656067 am',
	'modified' : '7 August 2024 11:41:03.343088 am',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
Hacemos un analizis sintactico del archivo en formato `JSON` para obtener datos estructurados y analizables:
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 't82gUXvbDQCPW1teCSrBQA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 10:29:54.193038 am',
	'modified' : '7 August 2024 10:35:27.748937 am',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
dirtyData := STONJSON fromString: file
~~~
</script>
</div>

<div st-class="LeTextSnippet"
  st-data="OrderedDictionary {
	'id' : 'Q7NsRoDbDQCBmmohCH8WPw==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 4:24:41.065076 pm',
	'modified' : '7 August 2024 4:24:59.746998 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
## Secciones del archivo
</div>

<div st-class="LeTextSnippet"
  st-data="OrderedDictionary {
	'id' : 'L8soPX3bDQC6zBQnBvPWvA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 12:47:20.720684 pm',
	'modified' : '7 August 2024 12:47:20.720684 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
Limpiamos y organizamos los datos, para cada hoja se necesitan diferentes procedimientos:
</div>

<div st-class="LeTextSnippet"
  st-data="OrderedDictionary {
	'id' : 'L5NHUHzbDQCd44YcCSrBQA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 11:41:06.534937 am',
	'modified' : '7 August 2024 4:25:06.869878 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
### Identificación:
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 'IJ2MVnvbDQCQO8L0CSrBQA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 10:31:16.761311 am',
	'modified' : '7 August 2024 10:36:01.271184 am',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
dirtyDataValues := dirtyData collect: [ :item | item values ]
~~~
</script>
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 'OESPaHvbDQCT/PlPCSrBQA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 10:36:18.91963 am',
	'modified' : '7 August 2024 10:37:14.182843 am',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
dirtyDataAssoc := dirtyDataValues collect: [ :array | array second -> array first ]
~~~
</script>
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 'ZW9vbHvbDQCWIec5CSrBQA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 10:37:23.942344 am',
	'modified' : '7 August 2024 11:42:32.617101 am',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
firstPageDictDirty := dirtyDataAssoc asDictionary
~~~
</script>
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 'rDiDVXzbDQChQ6JVCSrBQA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 11:42:34.330364 am',
	'modified' : '7 August 2024 11:46:25.336238 am',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
identificacion := firstPageDictDirty reject: [ :assoc | assoc value = nil ]
~~~
</script>
</div>

<div st-class="LeTextSnippet"
  st-data="OrderedDictionary {
	'id' : 'JFnkiHzbDQClFg3RCSrBQA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 11:56:56.333384 am',
	'modified' : '7 August 2024 4:25:10.750849 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
### Personal bibliotecario:
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 'jTvDinzbDQClutpKCSrBQA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 11:57:27.717944 am',
	'modified' : '7 August 2024 12:06:01.091637 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
dirtyDataValues := dirtyData collect: [ :item | item values ]
~~~
</script>
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 'R4AKnnzbDQCmTwNlCSrBQA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 12:02:51.156731 pm',
	'modified' : '7 August 2024 12:07:39.720128 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
keys := dirtyDataValues second
~~~
</script>
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 'IGzwr3zbDQCoiOViCSrBQA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 12:07:51.436539 pm',
	'modified' : '7 August 2024 12:24:17.605253 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
secondPageDirty := dirtyDataValues collect: [ :col |
	{ (keys at: 1) -> (col at: 1).
	  (keys at: 2) -> (col at: 2).
	  (keys at: 3) -> (col at: 3).
	  (keys at: 4) -> (col at: 4).
	  (keys at: 5) -> (col at: 5).
	  (keys at: 6) -> (col at: 6).
	  (keys at: 7) -> (col at: 7).
	  (keys at: 8) -> (col at: 8).
	  (keys at: 9) -> (col at: 9) } asDictionary]
~~~
</script>
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 'sPT76nzbDQCxhQvoCSrBQA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 12:24:22.049024 pm',
	'modified' : '7 August 2024 12:30:41.684956 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
personal :=  (secondPageDirty allButFirst) allButFirst
~~~
</script>
</div>

<div st-class="LeTextSnippet"
  st-data="OrderedDictionary {
	'id' : 'U5ZvAn3bDQCTWSGdCSrBQA==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 12:30:55.501641 pm',
	'modified' : '7 August 2024 4:25:15.007951 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
### Infraestructura espacios físicos y mobiliario
</div>

<div st-class="LeTextSnippet"
  st-data="OrderedDictionary {
	'id' : 'T58CMIDbDQCEFDQNDxmwvw==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 4:18:25.014333 pm',
	'modified' : '7 August 2024 4:18:26.907671 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
Parte 1
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 'L6OlDX3bDQCAYkUeB/yJdw==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 12:34:03.593606 pm',
	'modified' : '7 August 2024 3:26:35.086668 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
thirdPageSection1 := dirtyData copyFrom: 1 to: 9
~~~
</script>
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 'YXVoOH/bDQCPk/1WB+EQqw==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 3:09:10.942904 pm',
	'modified' : '7 August 2024 3:17:55.737565 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
thirdPageSection1Values := thirdPageSection1 collect: [ :item | item values ]
~~~
</script>
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 'xgIUR3/bDQCNn/cDDfkQMw==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 3:13:17.066646 pm',
	'modified' : '7 August 2024 4:10:14.787664 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
thirdPageSection1ValuesWithoutNil := thirdPageSection1Values collect: [:array | 
	array reject: [ :item | item = nil]]
~~~
</script>
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 'dZQg4n/bDQC4kXSuDxmwvw==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 3:56:38.357706 pm',
	'modified' : '7 August 2024 4:10:14.788571 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
thirdPageSection1ValuesClean := thirdPageSection1ValuesWithoutNil
		collect: [ :array | array asOrderedCollection ].
thirdPageSection1ValuesClean collect: [ :col | (col size = 4) ifTrue: [ col add: 'NA' ]]
~~~
</script>
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : '2KMUc3/bDQCvfOcpDSc0QQ==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 3:25:35.303263 pm',
	'modified' : '7 August 2024 4:23:45.384332 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
thirdPageCollection1 := OrderedCollection new.
thirdPageSection1ValuesClean do: [ :col | 
	(thirdPageCollection1 add: ({(col third -> col second)})asOrderedCollection) ]
~~~
</script>
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 'wZPRvX/bDQC4D/v5BPQg/w==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 3:46:29.202311 pm',
	'modified' : '7 August 2024 4:23:45.520878 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
count := 2.
thirdPageCollection1 size - 1
	timesRepeat: [ (thirdPageCollection1 at: count)
			add: ((thirdPageSection1ValuesClean at: 1) at: 1)
					-> ((thirdPageSection1ValuesClean at: count) at: 1).
					count := count +1 ].
thirdPageCollection1
~~~
</script>
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 'xIofxn/bDQC5j6v0BPQg/w==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 3:48:48.529122 pm',
	'modified' : '7 August 2024 4:23:45.555201 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
count := 2.
thirdPageCollection1 size - 1
	timesRepeat: [ (thirdPageCollection1 at: count)
			add: ((thirdPageSection1ValuesClean at: 1) at: 4)
					-> ((thirdPageSection1ValuesClean at: count) at: 4).
					count := count +1 ].
thirdPageCollection1
~~~
</script>
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 'zj+L3X/bDQC4c4xXDxmwvw==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 3:55:21.459894 pm',
	'modified' : '7 August 2024 4:10:55.30806 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
count := 2.
thirdPageCollection1 size - 1
	timesRepeat: [ (thirdPageCollection1 at: count)
			add: ((thirdPageSection1ValuesClean at: 1) at: 5)
					-> ((thirdPageSection1ValuesClean at: count) at: 5).
					count := count +1 ].
thirdPageCollection1
~~~
</script>
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 'Y3clboDbDQCK5UqFCH8WPw==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 4:35:47.490017 pm',
	'modified' : '7 August 2024 5:08:57.698572 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
infraestructura1 := (thirdPageCollection1 collect: [ :col | col asDictionary ]) allButFirst
~~~
</script>
</div>

<div st-class="LeTextSnippet"
  st-data="OrderedDictionary {
	'id' : 'rlqIMIDbDQCEO+uvDxmwvw==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 4:18:33.778577 pm',
	'modified' : '7 August 2024 4:18:37.151195 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
Parte 2
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : '4JxCF4DbDQCDyqonDxmwvw==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 4:11:29.781847 pm',
	'modified' : '7 August 2024 4:19:16.553542 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
thirdPageSection2 := dirtyData copyFrom: 12 to: 14
~~~
</script>
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 'HFCeMoDbDQCEiqY2Dxmwvw==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 4:19:08.776595 pm',
	'modified' : '7 August 2024 4:19:14.021767 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
thirdPageSection2Values := thirdPageSection2 collect: [ :item | item values ]
~~~
</script>
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 'LPwSNIDbDQCEsfBiDxmwvw==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 4:19:33.200224 pm',
	'modified' : '7 August 2024 4:22:36.056954 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
thirdPageSection2ValuesWithoutNil := thirdPageSection2Values collect: [ :array | 
	array reject: [ :item | item = nil].].
thirdPageSection2Clean := thirdPageSection2ValuesWithoutNil collect: [:array|array asOrderedCollection]
~~~
</script>
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 'qg4pNYDbDQCEzk69Dxmwvw==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 4:19:51.423301 pm',
	'modified' : '7 August 2024 5:19:55.378943 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
thirdPageSection2Clean
	do: [ :col | 
		col
			add: 'Criterio' -> (col second, ' ', col first);
			add: 'Observaciones' -> col third;
			removeFirst: 3 ].
thirdPageSection2Clean
~~~
</script>
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 'eVLObYDbDQCK3K80CH8WPw==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 4:35:41.778932 pm',
	'modified' : '7 August 2024 5:18:52.51518 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
infraestructura2 := thirdPageSection2Clean collect: [ :col | col asDictionary].
~~~
</script>
</div>

<div st-class="LeTextSnippet"
  st-data="OrderedDictionary {
	'id' : 'WOLWu4DbDQCPaxOqCH8WPw==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 4:57:30.960799 pm',
	'modified' : '7 August 2024 4:57:37.62385 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
# Exportación
</div>

<div st-class="LeTextSnippet"
  st-data="OrderedDictionary {
	'id' : '12RpvIDbDQCPziSTCH8WPw==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 4:57:40.559877 pm',
	'modified' : '7 August 2024 4:58:07.263514 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
Después de limpiar y estructurar la información vamos a exportarla para hacer reportes web
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : '14QbvoDbDQCSIDaaCH8WPw==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 4:58:09.014892 pm',
	'modified' : '7 August 2024 4:59:54.767038 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
((identificacion asOrderedDictionary asTiddler) title: 'Identificación')
	exportJSONFileInto: 'identificacion'
~~~
</script>
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 'v91exoDbDQCUhn52CH8WPw==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 5:00:27.647825 pm',
	'modified' : '7 August 2024 5:05:54.369692 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
personalTiddlers := personal collect: [ :persona | persona asOrderedDictionary asTiddler title: (persona at: 'Nombre') ].
personalTiddlers do: [ :tid | tid exportJSONFileInto: 'personal' ]
~~~
</script>
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 'q1NU5YDbDQCaadrhCH8WPw==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 5:09:07.049802 pm',
	'modified' : '7 August 2024 5:16:47.401242 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
infraestructura1Tiddlers := infraestructura1
		collect: [ :item | item asOrderedDictionary asTiddler ].
count := 1.
infraestructura1Tiddlers size
	timesRepeat: [ (infraestructura1Tiddlers at: count) title: 'item' , count asString.
		count := count+1 ].
infraestructura1Tiddlers do: [ :tid | tid exportJSONFileInto: 'infraestructura1']
~~~
</script>
</div>

<div st-class="LePharoSnippet"
  st-data="OrderedDictionary {
	'id' : 'oY3dCoHbDQCK0o9hAtlOsQ==',
	'parent' : '3u0dnh13wg7vfs8jdtk2anxuo',
	'created' : '7 August 2024 5:19:36.799177 pm',
	'modified' : '7 August 2024 5:21:27.583378 pm',
	'creator' : 'unknown',
	'modifier' : 'unknown'
}">
<script type="preformatted">
~~~ Smalltalk
infraestructura2Tiddlers := infraestructura2
		collect: [ :item | item asOrderedDictionary asTiddler title: (item at: 'Criterio') ].
infraestructura2Tiddlers do: [ :tid | tid exportJSONFileInto: 'infraestructura2']
~~~
</script>
</div>



<!-- Markdeep: -->

<style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style>
<script>window.markdeepOptions = {tocStyle: "auto"}</script>
<script src="markdeep.min.js" charset="utf-8"></script>
<script 
  src="https://casual-effects.com/markdeep/latest/markdeep.min.js?" 
 charset="utf-8">
</script>
<!--<script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script>-->



<!-- Hypothesis -->
<script src="https://hypothes.is/embed.js" async></script>